In [1]:
#List is defined by square brackets and every object type separated by commas
my_list = [1, 2, 3]

In [2]:
#python lists are very flexible in the data types they can hold
my_list = ['STRING', 100, 23.2]

In [3]:
#returns the number of elements in the list
len(my_list)

3

### Indexing and Slicing is also possible in Python List (work same as string)

In [4]:
mylist = ['one', 'two', 'three']

In [5]:
mylist[0]

'one'

In [6]:
mylist[1:]

['two', 'three']

### Conatenation of Lists

In [8]:
mylist

['one', 'two', 'three']

In [9]:
another_list = ['four', 'five']

In [10]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [11]:
new_list = mylist + another_list

In [12]:
new_list

['one', 'two', 'three', 'four', 'five']

### Difference between string and list is that list is mutable i.e., we can mutate or change around the list

In [13]:
new_list[0] = 'ONE ALL CAPS'

In [14]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [15]:
#append or add 'six' inside the list
new_list.append('six')

In [16]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [17]:
new_list.append('seven')

In [18]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [19]:
#pop is used to remove item from end of the list and return the item also
new_list.pop()

'seven'

In [20]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [21]:
popped_item = new_list.pop()

In [22]:
popped_item

'six'

In [23]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [24]:
#pass index inside x if we want to delete a specific item. By default the index is -1 i.e., end of the list
new_list.pop(0)

'ONE ALL CAPS'

In [25]:
new_list

['two', 'three', 'four', 'five']

In [26]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4, 1, 8, 3]

In [27]:
new_list.sort()
#does not return any value but sort the list inplace in alphaetical order

In [28]:
new_list

['a', 'b', 'c', 'e', 'x']

In [29]:
num_list.sort()

In [31]:
num_list

[1, 3, 4, 8]

In [32]:
my_sorted_list = new_list.sort()

In [33]:
my_sorted_list
#it does not return anything because the sorting will happen inplace

### Cannot reassign the value of .sort() function to another variable because it does inplace sorting

In [34]:
type(my_sorted_list)

NoneType

### NoneType is a type for None object. It is used to indicate no value and sometimes used as a placeholder. It is a return value of a function or a method that doesn't return anything

In [35]:
new_list.sort()
new_sorted_list = new_list

In [36]:
new_sorted_list

['a', 'b', 'c', 'e', 'x']

In [39]:
num_list.reverse()
#reverse the list and reversal happens inplace

In [40]:
num_list

[1, 3, 4, 8]